input {
  font-size: 20px;
  margin: 10px;
  padding: 10px;
}

.radio {
  margin: 5px;
}

button {
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  background-color: white;
}

.submit {
  margin: 20px;
  width: 160px;
  height: 60px;
}

.display {
  font-size: 30px;
  margin: 20px;
}
