Hello world!<br><br>

<input type="text" class="city" [(ngModel)]="city">
<button type="submit" (click)="getCitiesNames()">Szukaj</button><br>
<div *ngFor="let option of options">
  <label>
    <input type="radio"
           name="options"
           [(ngModel)]="selectedOption"
           [value]="option">
    {{ option }}
  </label>
</div>
<button type="submit" (click)="getCurrentLocation()">Pogoda dla zaznaczonego miasta</button><br>
<button type="submit" (click)="getOneHourForecast()">Pogoda za 1 godzinę dla zaznaczonego miasta</button><br>
<button type="submit" (click)="getTwelveHourForecast()">Pogoda za 12 godzin dla zaznaczonego miasta</button><br>
<button type="submit" (click)="getOneDailyForecast()">Pogoda za 1 dzień dla zaznaczonego miasta</button><br>
<button type="submit" (click)="getFiveDaysForecast()">Pogoda za 5 dni dla zaznaczonego miasta</button><br>
<button type="submit" (click)="getYesterdayForecast()">Pogoda wczoraj dla zaznaczonego miasta</button><br>
<div *ngIf="cityIsPicked">
  {{ temp }}
</div>
